.nav-container {
  /* How to position fixed the navbar when using flexbox
   * Read: https://stackoverflow.com/questions/40772841/how-to-position-fixed-the-navbar-when-using-flexbox
   */
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #e0e0e0;

  background-color: white;
}

.nav-logo {
  width: 9.5rem;
}

.nav-logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-container {
    margin: 0;
    padding: 0.5rem;
  }

  .nav-logo {
    width: 6rem;
  }
}
