.video-container {
  margin: 1rem 1rem;
  transition: 0.5s;
}

.video-container:hover {
  cursor: pointer;
  transform: translate(0, -1rem);
}

.video-thumbnail {
  width: 22rem;
  height: 12rem;

  margin-bottom: 0.5rem;
}

.video-avatar {
  width: 3rem;
  height: 3rem;

  margin-right: 1rem;
}

.video-description-container {
  display: flex;
  align-items: center;
}

.video-description-sub-container {
  display: inline-block;

  max-width: 22rem;
}

.video-description-title {
  font-size: 1rem;

  color: black;
}

.video-description-channel-title {
  font-size: 0.8rem;
  color: gray;
}

.video-description-publish-time {
  font-size: 0.8rem;
  color: gray;
}
